$main-color: #bccad9;
$front-color: #3c89d5;
$back-color: #919fac;
$border-color: #7e7e86;
$background-color: #181818;

$red: #dd0000;
$orange: darkorange;
$pink: hotpink;
$yellow: #e2bd00;
$purple: darkorchid;
$grey: silver;
$blue: #174dff;
$cyan: #00e4e4;
$teal: darkcyan;
$lime: #00e700;
$green: limegreen;
$black: black;
