body {
    font-size: x-small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 3px;
}

a {
    color: black;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid gray;
}

th, td {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 500px;
}

.fav {
    font-weight: bold;
}

.centered {
    text-align: center;
}

.not-listened {
    color: gray;
}

.heart { 
    color: red;
}

.star {
    color: blue;
}

.meh {
    text-decoration: line-through;
    color: silver;
}

.genre {
    font-weight: normal;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.comment {
    font-style: italic;
    font-weight: normal;
    font-size: xx-small;
    color: gray;
}

.emoticon {
    font-size: 8px;
}

.rock { color: red; }
.hard-rock { color: silver; }
.rock-n-roll { color: bisque; }
.punk { color: orange; }
.grunge { color: purple; }
.metal { color: black; }
.country { color: darkcyan; }

.soul { color: purple; }
.trip-hop { color: blue; }
.pop { color: hotpink; }
.funk { color: lime;  }

.jazz { color: blue; }
.disco { color: hotpink; }
.reggae { color: limegreen; }

.world { color: yellow; }
.classical { color: limegreen; }
.swing { color: orange; }
.blues { color: blue; }

.folk { color: darkcyan; }
.electro { color: cyan; }
.rap { color: black; }
.chanson { color: hotpink; }

.flag {
    vertical-align: middle;
    width: 13px;
}
