body {
    font-size: x-small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: black;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid gray;
}

th, td {
    padding-left: 10px;
    padding-right: 10px;
}

.fav {
    font-weight: bold;
}

.centered {
    text-align: center;
}

.not-listened {
    color: gray;
}

.heart { 
    color: red;
}

.star {
    color: blue;
}

.meh {
    text-decoration: line-through;
    color: gray;
}

.classical { color: lightgreen; }
.swing { color: sandybrown; }
.rock-n-roll { color: brown; }
.country { color: green; }
.jazz { color: bisque; }
.folk { color: cadetblue; }
.rock { color: red; }
.soul { color: darkviolet; }
.funk { color: lime; }
.disco { color: hotpink; }
.world { color: yellow; }
.reggae { color: lawngreen; }
.punk { color: orange; }
.pop { color: deeppink; }
.hard-rock { color: brown; }
.rap { color: black; }
.grunge { color: purple; }
.trip-hop { color: darkblue; }
.electro { color: cornflowerblue; }
.metal { color: silver; }

.flag {
    vertical-align: middle;
    width: 13px;
}
