body {
    font-size: xx-small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid black;
}

th, td {
    padding-left: 10px;
    padding-right: 10px;
}

.fav {
    font-weight: bold;
}

.centered {
    text-align: center;
}

.not-listened {
    color: gray;
}

.red {
    color: red;
}
