$font-size: 0.9rem;
$font-size-comment: 0.75rem;

$main-color: #bccad9;
$front-color: #3c89d5;
$back-color: #919fac;
$border-color: #7e7e86;
$background-color: #181818;

$red: #dd0000;
$orange: darkorange;
$pink: hotpink;
$yellow: #e2bd00;
$purple: darkorchid;
$grey: silver;
$blue: #174dff;
$cyan: #00e4e4;
$teal: darkcyan;
$lime: #00e700;
$green: limegreen;
$black: black;

@font-face {
    font-family: "Inter";
    font-style:  normal;
    font-weight: 300;
    font-display: swap;
    src: url("./Inter-Light.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style:  italic;
    font-weight: 300;
    font-display: swap;
    src: url("./Inter-LightItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("./Inter-SemiBold.woff2") format("woff2");
}

body {
    font-size: $font-size;
    font-family: "Inter", sans-serif;
    margin: 3px;
    color: $main-color;
    background-color: $background-color;
}

a {
    color: $main-color;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid $border-color;
}

th, td {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 500px;
}

p {
    margin-bottom: 0.3em;
}

ul {
    margin-top: 0;
}

fieldset {
    max-width: 350px;
    border: 1px solid $border-color;
    margin-bottom: 5px;
}

.fav {
    font-weight: bold;
}

.centered {
    text-align: center;
}

.not-listened {
    color: $back-color;
}

.heart { 
    color: $red;
}

.star {
    color: $yellow;
}

.meh {
    text-decoration: line-through;
    color: $back-color;
}

.genre {
    font-weight: normal;
}

.comment {
    font-style: italic;
    font-size: $font-size-comment;
    color: $back-color;
}

.emoticon {
    font-size: 9px;
}

.rock { color: $red; }
.hard-rock { color: $black; -webkit-text-stroke: 1px $grey; }
.rock-n-roll { color: $yellow; }
.punk { color: $orange; }
.grunge { color: $purple; }
.metal { color: $grey; }
.country { color: $teal; }

.soul { color: $purple; }
.trip-hop { color: $blue; }
.pop { color: $pink; }
.funk { color: $lime;  }

.jazz { color: $blue; }
.disco { color: $pink; }
.reggae { color: $green; }
.r-n-b { color: $purple; }

.world { color: $yellow; }
.classical { color: $green; }
.swing { color: $orange; }
.blues { color: $blue; }

.folk { color: $teal; }
.electro { color: $cyan; }
.rap { color: $black; -webkit-text-stroke: 1px $grey; }
.chanson { color: $pink; }
.meme { color: $main-color; }
.new-wave { color: $yellow; }
.vgm { color: $lime; }

.flag {
    vertical-align: middle;
    width: 13px;
    opacity: 0.8;
}

.selected {
    font-weight: bold;
    color: $front-color;
}

.spotify {
    width: 15px;
    height: 15px;
    vertical-align: text-top;
}
